
    <footer class="item-6">
      <p>this will be the footer</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://siusoan.github.io/Parallax/Parallax.js"></script>
    <script src="/js/template.js"></script>
  </body>
</html>
