<!doctype html>
<html>
	<head>
		<title>Digital Corridor</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
	      <h1><a href="/">DIGITAL CORRIDOR</a></h1>
	      <nav>
	        <div id="navmenu">
	          <span class="fa fa-bars hidden" aria-hidden="true"></span>
	          <a class="navlink" href="">About Me</a>
	          <a class="navlink" href="">About AP</a>
	          <a class="navlink" href="">My Posts</a>
	        </div>
	        <a href="#main-menu-toggle" class="backdrop" hidden></a>
	      </nav>
	  </header>
